@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;

  --color-gray-900: #111827;
  --color-gray-700: #374151;
  --color-gray-600: #4B5563;
  --color-gray-400: #9CA3AF;
  --color-gray-300: #D1D5DB;
  --color-gray-100: #F3F4F6;
  --color-gray-50: #FAFAFA;

  --color-surface: #FFFFFF;
  --color-black: #000000;

  --color-primary-light: #E0E7FF;
  --color-flag-blue: #0052B4;
  --color-flag-red: #D80027;
}